### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/view/GameView.class
/src/model/Scenario.class
/src/model/Effect.class
/src/model/Dialogue.class
/src/model/Choice.class
/src/loader/XMLLoader.class
/src/Main.class
/src/controller/GameController.class
